nav
	width 50%
	display inline-block
	ul
		position absolute
		bottom 0 
		margin 0
		padding 0 
		li
			border 1px solid #fff
			display inline-block
			margin 15px 5px
			padding 10px 0
			list-style none
			&:hover
				background #282828
			a, p
				text-decoration none 
				color white
				padding 10px 15px
			p
				margin 0
				padding 0 10px

#logout
	button
		background none
		border none 
		color white
