border = 2px solid #000
backColor = rgba(224, 217, 226, 0.97)
width = 1000px
// -- variables --

// main
textBorderColor = #fff
textBorder = textBorderColor 1px 1px 0, textBorderColor -1px -1px 0, textBorderColor -1px 1px 0, textBorderColor 1px -1px 0
// -- variables --

imgPadding = 13px